Vista principal del loggin

<script src="/socket.io/socket.io.js"></script>

<script src="/js/chat.js"></script>

<link rel="stylesheet" href="style.css">

<h2>Ingresa tu nombre para entrar al chat</h2>

<form method="POST" action= "/login">

<label for = "name"> Nombre: </label>
<input type="text" name="name">
<input type="submit" value="Enviar">

</form>