#productos {
    border-collapse: collapse;
    width: 100%;
  }
  
  #productos th, #productos td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #productos th {
    background-color: #f2f2f2;
  }
  
  #productos tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  